html {
	color: #d0fff0;
	background-color: #203040;
	font-family: 'Roboto', sans-serif;
	font-size: larger;
}

a {
	color: #a0d0ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3 {
	margin-top: 50px;
}

.copyright {
	font-size: smaller;
	margin-top: 100px;	
}

.menu {
	margin-bottom: 20px;
}

.menu-item {
	font-size: x-large;
	margin: 10px;
}

.post {	
	background-color: #ffffff;
	border-radius: 15px;
	color: #000000;
	max-width: 800px;
	margin-bottom: 100px;
	padding: 20px;
	text-align: left;
}

.post-title {
	margin-bottom: 0px;
	margin-top: 0px;
}

.post-date {
	color: #404040;
	font-size: smaller;
	font-style: italic;
	font-weight: bold;
}